@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root{
  --iotext: #000;
  --iobg: #FFF;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  cursor: context-menu;
}

li{
  list-style-type: none;
}

.desktop{
  display: block;
}

.mobile{
  display: none;
}

.dark-text{
  color: var(--iotext);
}

.dark-bg{
  background: var(--iotext);
}

body{
  background: var(--iobg);
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-header{
  display: flex;
  padding: .5em 1em;
}

.header-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes-group{
  width: 6rem;
  height: 3.9rem;
  overflow: hidden;
}

.navbar-group{
  display: flex;
  padding: .5em 1em;
}

.navbar-group *{
  cursor: pointer;
}

.navbar-item{
  font-size: 1.5rem;
  margin: 0 .5rem;
  transition: border .5s, transform .5s ease-out;
}

.navbar-item:not(.ico-btn):hover{
  transform: scale(1.1);
  border-bottom: .2rem solid var(--iotext);
}

.ico-btn{
  width: 1.2rem;
  height: 1.2rem;
}

.darkmode-btn{
  -webkit-transition: -webkit-filter .5s ease-in;
}

.darkmode-btn img{
  filter: invert(0);
}


@media screen and (max-width: 600px) {
  .navbar-group{
    padding: .5em 0;
    padding-right: .5em;
  }

  .mobile-nav{
  }

  .mobile-nav li{
    display:block;
    padding: .3rem .5rem;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }

  .ico-btn{
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
  }
}